@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3><b>Shanu-Who's In Your Mind Reader using MVC Angular JS and WCF Rest Service:</b></h3>
    <p class="lead">Welcome to my Website.This website is to find Whos in your Mind.</p>
    <p>Think anyone famous person from the list from Main Page in your mind. I will find and tell you who’s in your mind. You can select any popular person from the list 
    he or she might be an Actor, Actress, cricketer or any other celebrity from the list.
 I will ask few questions on who’s in your mind .You can answer as Yes or NO. So why are you waiting for,let's Start.


</p>
</div>
<table style=" background-color:#F0F8FF;color:#566D7E; border: dashed  2px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;">
    <tr>
        <td align="center" style="color:#566d7e;">            
            <h3 style="color:#566D7E;">@Html.ActionLink("let's Start :)", "Index", "WhosinYourMind")</h3>
        </td>
    </tr>
</table>
